<!DOCTYPE html>
<html>
	<head>
		<#include '/common/base.html'>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>查看选项</title>
		<link rel="stylesheet" type="text/css" href="${base}/resources/voteFile/css/vote-option.css"/>
	</head>
	<body>
		<div class="vote-option">
			<span>选项：</span><span>${voteContent}</span>
			<p>总共有${voteOptionsCounts}人选择此项</p>
		</div>
		<div class="people-option">
		<#if (voteOptionsList)?exists && voteOptionsList?size gt 0>
				<#list voteOptionsList as voteOptions> 
					<div class="people-option-img">
						<img src="${base}/${voteOptions.user.logo!!}" />
					</div>
					<div class="people-option-name">
						<span>${voteOptions.user.name}</span><span>${voteOptions.createDateStr}</span>
					</div>	
				</#list>
				<#else>
					无数据
			</#if>
			
			
		</div>
		
	</body>
</html>
