<!DOCTYPE html>
<html>
<head>
<title>优惠管理</title>
<meta name="content-type" content="text/html; charset=UTF-8">
<#include '/common/resources.html'>
<link rel="stylesheet" media="screen and (min-width: 1580px)" href="${base}/resources/css/sys/jquery.tableui.css" />
<link rel="stylesheet" media="screen and (max-width: 1580px)" href="${base}/resources/css/sys/tableui-resolving.css" />
<script src="${base}/resources/js/respond.js" type="text/javascript" async="async"></script>
</head>
<body>
<div class="whole">

	<ol class="breadcrumb">
		<li><a href="javascript:void(0)">优惠管理</a></li>
		<li class="active">优惠列表</li>
		
	<span style="float: right"><button type="button"
			class="btn-default" style="float: right;">新增优惠</button></span>
			
	</ol>
	
	<div class="tab_box">
	<table class="table_solid" border="0" cellspacing="0">
		<tbody>
			<tr class="evenRow">
				<th>序号</th>
				<th>优惠类型</th>
				<th>满</th>
				<th>减</th>
				<th>状态</th>
				<th>创建时间</th>
				<th>操作</th>
			</tr>
			<#if (pagelist.results)?exists && (pagelist.results)?size gt 0> 
			<#list pagelist.results as shopPreferential>
			<tr>
				<td>${(shopPreferential_index+1)+(pagelist.pageNo-1)*pagelist.pageSize}</td>
				<td>${shopPreferential.type.type}</td>
				<td>${shopPreferential.meetPrice!!}</td>
				<td>${shopPreferential.preferentialPrice!!}</td>
				<td>
					<#if shopPreferential.status==0>
						正常
						<#else>
						禁用
					</#if>
				</td>
				<td>${shopPreferential.createDate?string('yyyy/MM/dd HH:mm:ss')}</td>
				<td><a class="btn-default common-btn-cz" href="${base}/shopPreferential/add?id=${shopPreferential.id}">操作</a></td>
			</tr>
			</#list>
		</tbody>
	</table>
	<form action="${base}/shopPreferential/list" id="pagerForm"><#include
		'/common/pagination.html'></form>
	<#else>
	</table>
	<div class="no-data">暂无数据~</div>
	</#if>
	</div>
	</div>
</body>
<script type="text/javascript">
	$(function() {
		$("button").click(function() {
			window.location.href = "${base}/shopPreferential/add";
		});
// 		$(".delRole").click(function() {
// 			return false;
// 			var roleid = $(this).attr("roleid");
// 			$.post("${base}/sys/delRole/" + roleid, function(result) {
// 				if (result.code == 0) {
// 					location.reload();
// 					;
// 				}
// 				;
// 			}, 'json');
// 		});
	});
</script>

</html>
