<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<title>常见问题</title>
		<#include '/common/base.html'>
		<link rel="stylesheet" href="${base}/resources/css/app/style.css" />
	</head>
	<body>				
		<div class="problem" id="text1">
			<span class="question">订单问题</span><a class="arrow" href="#"></a>
		</div>
		
		<div class="test1" id="p1" >
			<div class="demo">
			<span class="ques">1订单提交后可以申请取消吗？</span>
			<p class="answer">如果您已付款，商家还没有发货/服务，在您提交订单30分钟以内，可以选择取消它；如果订单已经发货/服务，就不能取消订单了，但您可以根据实际情况和商家进行协商。</p>
			</div>
			<div class="demo">
			<span class="ques">2订单与商家、用户间的关系是怎么样的？</span>
			<p class="answer">订单是指客户在“邻乐社区”APP下单成功，平台商家接受提供商品/服务后，订单方可生效。如果订单服务无法履行（例如订单下单失败，商品/服务人员问及时送达/提供服务）,商家将主动与您联系进行协商。</p>
			</div>
			<div class="demo">
			<span class="ques">3订单已经取消了，何时能退款或退优惠券？</span>
			<p class="answer">一般情况下，订单取消后，“邻乐社区”APP系统将在1-3个工作日自动退回账户（如订单拆分，优惠券是无法返还的），如果是促销活动领取的优惠券，订单取消后优惠券是否退回，请以具体活动规则为准,同时您也可以选择联系客服处理。</p>
			</div>
			<div class="demo">
			<span class="ques">4下单后可以修改订单吗？</span>
			<p class="answer">待发货/服务的订单，在订单发货/服务之前可以联系商家或邻乐客服进行修改；若商家已进行发货/服务，则表示您无权修改。</p>
			</div>
			<div class="demo">
			<span class="ques">5订单取消后还能恢复吗？</span>
			<p class="answer">订单一旦取消，将无法恢复，请您慎重操作。</p>
			</div>
			<div class="demo">
			<span class="ques">6订单提交成功后商品降价了，可以退给我差价吗？</span>
			<p class="answer">“邻乐社区”APP的商品价格随市场价格的波动每日都会有涨价、降价或者优惠等变化。若下订单后商品价格发生了较大变化，您可以选择联系商家进行协商。如果商家拒绝您的要求，则无法给您退差价。</p>
			</div>
			<div class="demo">
			<span class="ques">7没有点击取消订单，订单为何取消了？</span>
			<p class="answer">订单是指客户在“邻乐社区”APP下单成功，平台商家接受提供商品/服务后，订单方可生效。如果订单服务无法履行（例如订单下单失败，商品/服务人员问及时送达/提供服务）,商家将主动与您联系进行协商。</p>
			</div>
				<div class="demo">
			<span class="ques">7没有点击取消订单，订单为何取消了？</span>
			<p class="answer">订单是指客户在“邻乐社区”APP下单成功，平台商家接受提供商品/服务后，订单方可生效。如果订单服务无法履行（例如订单下单失败，商品/服务人员问及时送达/提供服务）,商家将主动与您联系进行协商。</p>
			</div>
				<div class="demo">
			<span class="ques">8违规订单处理方法？</span>
			<p class="answer">为了维护以正常生活消费为目的的用户及平台销售商家（以下简称商家）的权益，在用户提交订单后、实际签收前，若出现本规则中所述的非正常订单情形，用户承诺其自愿接受邻乐科技或商家按照本规则进行处理。<br>
一、非正常订单的情形包括但不限于以下内容：<br>
(1). 一人或多人合意使用多个账号下单不支付或者选择延迟发货不正当占库存 ；<br>
(2). 帮助商家刷单或者供应商自买等非正常消费客户订单；<br>
(3). 盗取他人“邻乐社区”APP账号、银行帐号等信息下单购买商品；<br>
(4). 出现威胁“邻乐社区”APP或商家系统安全的行为；<br>
(5). 出现违反用户注册协议中约定、邻乐社区平台规则规定的行为；<br>
(6).  注册信息、订单详情中含任何虚假信息的账号<br>
二、若出现以上第一条中的情形，用户承诺自愿接受邻乐科技或商家对非正常订单进行以下任一项或多项操作：<br>
（1）. 删除、取消订单；<br>
（2）. 不发货；<br>
（3）. 对已出库、发货的订单进行拦截、追回；<br>
（4）. 暂时保存异常订单的账号；<br>
三、注意事项
1. 若出现本规则规定的非正常订单情形，如订单被取消、删除、未按照既定时间发货、不发货等，将按照本规则进行处理，若邻乐平台其他规则与本规则规定不一致的，适用本规则规定。<br>
2. 若出现本规则中规定的非正常订单情形，“邻乐社区”APP/商家将采取取消订单、删除订单、不予发货、不向客户提供商品或服务等措施，无任何赔付、补偿。<br>
3. 若因本规则中非正常订单原因，订单被取消、删除等，将按照平台规则中快速退款流程进行退款。<br>
4. 如对订单删除、取消、不发货等情形有疑问，可与邻乐客服/商家进行联系。<br>
</p>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="problems" id="text2">
			<span class="question">商品问题</span><a class="arrow" href="#"></a>
		</div>
		<div class="test1" id="p2">
			<div class="demo">
			<span class="ques">1和商家发生争议纠纷怎么办？</span>
			<p class="answer">1）如用户与平台商家发争议纠纷（包括但不限于对商品的数量、质量、价格、有效期、预约时效、退款条件、售后服务等问题）。用户应与商家根据合约约定的内容来履行各自的权利义务承担各自的责任，解决争议。同时，邻乐社区也可协助解决用户与商家之间的争议
（2）用户在消费过程中，如发现商品/服务于订单内容严重不符或存在质量、服务态度等其他问题，应与商家采取协商或其他方式予以解决，邻乐社区可向用户提供商家的信息积极协助用户与商家解决争议。
</p>
			</div>
			<div class="demo">
			<span class="ques">2什么情况下用户无权要求商品/服务退款</span>
			<p class="answer">用户已实际消费的商品/服务，无权要求商家退款或要求邻乐科技代商家进行退款（但商品/服务于合约内容严重不符，存在严重质量问题或违法《网络交易管理办法》、《中华人民共和国消费者权益保护法》等相关法规的除外）。</p>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="problems" id="text3">
			<span class="question">提现问题</span><a class="arrow" href="#"></a>
		</div>
			<div class="test1" id="p3">
			<div class="demo">
			<span class="ques">1提现不成功怎么办？</span>
			<p class="answer">(1)您好，如要申请提现，请确认您的收款账户信息填写正确，否则无法提现。<br>
(2)请确认提供的银行卡信息是否正确，比如：开户名和卡号。<br>
(3)为保障账户安全，我们会对有异常情况的账户进行安全锁定，如果您的账户处于锁定状态，请联系在线客服核对信息解锁。<br>
</p>
			</div>
			<div class="demo">
			<span class="ques">2提现多久可到账?</span>
			<p class="answer">您好，您申请提现后，邻乐科技会在1-3个工作日内（周一至周五，不包括周末及节假日）把钱款汇到您所填写的收款账户里。完成汇款后，支付宝、微信的收款用户可以实时到账，其它银联银行卡的到帐时间取决于中国银联的跨行处理时间。</p>
			</div>
			<div class="demo">
			<span class="ques">3如果填错了收款信息，如何取消提现申请?</span>
			<p class="answer">您好，请您在提现审批完成之前及时联系在线客服，由客服人员帮您取消提现申请；如果邻乐方面已经审批完成，款项已转到您填错的账户，您申请的修改付款信息将无法生效。</p>
			</div>
			<div class="demo">
			<span class="ques">4.如何修改提现收款信息?</span>
			<p class="answer">您好，请您点击“我的”，在相关页面中点击修改收款信息，您可以绑定您的银行账户或支付宝账户、微信账户。</p>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="problems" id="text4">
			<span class="question">其他问题</span><a class="arrow" href="#"></a>
		</div>
			<div class="test1" id="p4">
			<div class="demo">
			<span class="ques">1如何修改密码？</span>
			<p class="answer">点击“我的 ¬——设置——账户安全——登录密码”进行修改</p>
			</div>
			<div class="demo">
			<span class="ques">2密码怎么设置更安全？</span>
			<p class="answer">为了您的账户安全，在设置密码时，请参考以下建议：<br>
（1）6-20位字符组成（字母区分大小写）。<br>
（2）请使用数字、字母或符号的组合，如：gklfd_157、89712am%&等。<br>
（3）如果设置如下安全性较低的密码，系统会提醒您修改密码以保证安全性：全部由数字组成；全部由字母组成；全部由同一字符组成；与用户名或邮箱相同。<br>
（4）修改密码，并做好记录工作，以免忘记。<br>
（5）不要将支付密码和登录密码设置为同一密码。<br>
</p>
			</div>
				<div class="demo">
			<span class="ques">3支付方式有哪些？如何支付？</span>
			<p class="answer">“邻乐社区”APP目前只支持三种支付方式，分别为：支付宝、微信、网上银行（包括工行，建行，招商，中行等主流银行的网银支付功能）。</p>
			</div>
				<div class="demo">
			<span class="ques">4“邻乐社区”APP的交易条款是什么？</span>
			<p class="answer">
				（1）订购的商品价格以您下订单时的价格为准。<br>
				（2）请清楚准确地填写您的真实姓名、送货地址及联系方式。因如下情况造成订单延迟或无法配送等，责任将由您个人承担：<br>
				 A. 客户提供错误信息和不详细的地址； <br>
				 B. 货物送达无人签收，由此造成的重复配送所产生的费用及相关的后果； <br>
				 C. 不可抗力，例如：自然灾害、交通戒严、突发战争等。 <br>
				（3）安全性：无论您是电话订购商品或是网络订购商品，我们会保证交易信息的安全，并由授权的员工处理您的订单。 <br>
				（4）隐私权：邻乐科技尊重您的隐私权，在任何情况下，我们都不会将您的个人和订单信息出售或泄露给任何第三方（国家司法机关调取除外）。我们从平台上或电话中得到的所有客户信息仅用来处理您的相关订单。 <br>
				（5）免责：如因不可抗力或其它邻乐科技无法控制的原因使“邻乐社区”APP系统崩溃或无法正常使用导致交易无法完成或丢失有关的信息、记录等，邻乐科技会尽可能合理地协助处理善后事宜，并努力使客户免受经济损失。 <br>
				（6）客户监督：邻乐科技希望通过不懈努力，为客户提供最佳服务，京东在给客户提供服务的全过程中接受客户的监督。   <br>
				（7）争议处理：如果客户与邻乐科技之间发生任何争议，可依据当时双方所认定的协议及相关法律进行解决。<br>
			</p>
			</div>
		</div>
		<script type="text/javascript" src="${base}/resources/js/check.js" ></script>
	</body>
</html>
