<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>

	<div id="firstpane" class="menu_list">
		<h3 class="menu_head current">
			<img class="nav-ico" src="${base}/resources/images/pc_05.png">代理商维护<a
				href="#"></a>
		</h3>
		<div style="display: block;" class="menu_body">
			<a class="checkone" href="${base}/regionalagency/list">小区信息维护</a> <a
				class="checktwo" href="#" target="content">选项1</a> <a href="#"
				target="content">选项2</a>
		</div>

		<h3 class="menu_head">
			<img class="nav-ico" src="${base}/resources/images/pc_05.png">物业维护<a
				href="#"></a>
		</h3>
		<div class="menu_body" style="display: none;">
			<a href="#">选项1</a> <a href="#">选项2</a>

		</div>

		<h3 class="menu_head">
			<img class="nav-ico" src="${base}/resources/images/pc_05.png">小区维护<a
				href="#"></a>
		</h3>
		<div class="menu_body" style="display: none;">
			<a href="#">选项1</a> <a href="#">选项2</a>

		</div>

	</div>
	<script type="text/javascript" src="${base}/resources/js/action.js"></script>
</body>
</html>
