<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta name="renderer" content="webkit">
<title>巡更信息</title> <#include '/common/resources.html'>
<link rel="stylesheet" media="screen and (min-width: 1580px)" href="${base}/resources/css/sys/jquery.tableui.css" />
<link rel="stylesheet" media="screen and (max-width: 1580px)" href="${base}/resources/css/sys/tableui-resolving.css" />
<link rel="stylesheet" href="${base}/resources/css/sys/rom-tip.css" />
<link rel="stylesheet" href="${base}/resources/css/sys/qrtip.css" />
<script src="${base}/resources/js/jquery1.8.3.js" type="text/javascript"></script>
<script src="${base}/resources/js/jquery.jqprint-0.3.js" type="text/javascript"></script>
<script src="${base}/resources/js/respond.js" type="text/javascript" async="async"></script>
<style>
#bg td input,#bg td {
    font-size: 20px;
}

</style>
</head>
<body>
	<div class="whole">
		<ol class="breadcrumb">
			<li><a href="javascript:void(0)">巡更管理</a></li>
			<li class="active">巡更二维码管理</li>
		</ol>
			<div class="o-order">
		<form action="${base}/qrCodeRoom/list" id="pagerForm" method="post">
			<div class="o-second">
				<span class="o-span">幢：</span>
				<div class="o-div">
					<select class="o-select" id="buildingType" name="buildingType">
						<option value="">全部</option>
						<#list buildingList as baseEntity>
							<option value="${baseEntity.name}">${baseEntity.name}</option>
						</#list>
					</select>
				</div>
				<span class="o-span">单元：</span>
				<div class="o-div">
					<select class="o-select" name="unitType" id="unitType">
						<option value="" selected="selected">全部</option>
					</select>
				</div>
			</div>
			 
				<div class="o-thrid">
					<button class="o-btn searchForm">搜索</button>
					<a class="o-btn" id="batchCreateQR" href="javascript:void(0)">批量生成二维码</a>
					<a class="o-btn download-btn"  id="batchDownloadQR" style="" href="javascript:void(0)">批量下载二维码</a>
					<a class="o-btn"  id="importRoomData" href="javascript:void(0)">从房源获取数据导入</a>
				</div>
				
				
		</div>
	
		<div class="tab-order">
			<div class="box tab2">
				<div class="tab_box" style="width: 100%;">
					<div>
						<table class="table_solid" border="0" cellspacing="0">
							<tbody>
								<tr class="evenRow">
									<th>序号</th>
									<th>幢</th>
									<th>单元</th>
<!-- 									<th>二维码标识</th> -->
									<th>二维码</th>
									<th>操作</th>
								</tr>
								<#if (pagelist.results)?exists && pagelist.results?size gt 0>
								<#list pagelist.results as obj>
								<tr>
									<td>${(obj_index+1)+(pagelist.pageNo-1)*pagelist.pageSize}</td>
									<td>${obj.building!!}</td>
									<td>${obj.unit!!}</td>
<!-- 									<td>${obj.qrCodeName!!}</td> -->
									<#if obj.path??>
										<td class="tooltip-options">
											<div > 
												<img  style="width: 35px;" src="${base}/${obj.path!!}">
											</div>
											  <div class="tips">
										        <div class="tipscont"><img src="${base}/${obj.path!!}" width="200"  /></div>
										      </div>
										</td>
										<#else>
										<td>无
										</td>
									</#if>
									<td>
											<#if obj.path??>
												<a class="td-b common-btn-cz" href="javascript:createQRCode(${obj.id},'${obj.qrCodeName}');">重新生成二维码</a>
												<#else>
												<a class="td-b common-btn-cz" href="javascript:createQRCode(${obj.id},'${obj.qrCodeName}');">生成二维码</a>
											</#if>
											
											<#if obj.path??>
												<a class="td-b common-btn-cz" href="${base}/download/downFileImg?fileName=${obj.fileName!!}">下载</a>
											</#if>
											<#if obj.path??>
											<a class="td-b common-btn-cz" href="javascript:printAreaDemo('${obj.path!!}');">打印</a>
											</#if>
											
									</td>
								</tr>
								</#list>
							</tbody>
						</table>
						<form action="${base}/community/room" id="pagerForm">
						<#include '/common/pagination.html'>
						</form>
						<#else>
						</table>
							<div class="no-data">暂无数据~</div>
						</#if>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	 <div id="myPrintArea">
		<img id="myPrintAreaImg"/>
	</div> 
	
	<script src="${base}/resources/js/jquery.tabs.js"></script>

	<script type="text/javascript">
 ;
	
  	$(document).ready(function(){

  	 	$(".tooltip-options").each(function(i){
  			$(this).hover(function(){
  				$(this).parent().find(".tips").addClass("hover");
  				$(this).parent().addClass("lihover");
  			},function(){
  				$(this).parent().find(".tips").removeClass("hover");
  				$(this).parent().removeClass("lihover");
  			});	
  		})
  		
  	});
		function printAreaDemo(path){
			 $("#myPrintAreaImg").show();
			 $("#myPrintAreaImg").attr("src","${base}/"+path);
			 $("#myPrintArea").jqprint();
			 $("#myPrintAreaImg").hide();
		}
	
		$(".searchForm").click(function(){
			$("#pagerForm").submit();
		});
		
		var buildingType ="";
		var unitType ="";
		<#if buildingType??>
			 buildingType ='${buildingType}';
			$("#buildingType").val(buildingType);
		</#if>
		
		<#if unitType??>
			 unitType ='${unitType}';
			$("#unitType").val(unitType);
		</#if>

		//改变幢加载单元
		$("#buildingType").change(function(){
			var building=$(this).val();
			$.ajax({
				type : "post", //表单提交类型 
				url :"${base}/community/loadUnitName", //表单提交目标 
				data : {building:building}, //表单数据
				success : function(data) {
						var lists=data.list;
//						console.log(lists);
						var tbody='<option value="" selected="selected">全部</option>';
						$.each(data.list,function(n,obj) {   
			            	var str="";
			            	str+='<option value="'+obj.name+'">'+obj.name+'</option>'
			            	tbody+=str;	
						 }); 
						$("#unitType").html(tbody);
		            	
				}
				
			})
		});
		
		<#if buildingType??>
			 buildingType ='${buildingType}';
			 unitType ='${unitType}';
			$.ajax({
				type : "post", //表单提交类型 
				url :"${base}/community/loadUnitName", //表单提交目标 
				data : {building:buildingType}, //表单数据
				success : function(data) {
						var lists=data.list;
						var tbody="";
						if(unitType==''){
							tbody='<option value="" selected="selected">全部</option>';
						}else{
							tbody='<option value="'+unitType+'" selected="selected">'+unitType+'</option>';
						}
						$.each(data.list,function(n,obj) {   
			            	var str="";
			            	if(unitType!=obj.name){
			            		str+='<option value="'+obj.name+'">'+obj.name+'</option>'
			            	}
			            	tbody+=str;	
						 }); 
						$("#unitType").html(tbody);
		            	
				}
				
			})
		</#if>
			
		//创建二维码
		function createQRCode(id,qrCodeName){
			$.ajax({
				type : "post", //表单提交类型 
				url :"${base}/qrCodeRoom/createQRCode", //表单提交目标 
				data : {id:id,qrCodeName:qrCodeName}, //表单数据
				success : function(data) {
					if(data.code==0){
						 layer.msg(data.msg,{
				             	shift: 0,
				             	time: 1500
				             }, function(){
				            	 window.location.reload();
				             }); 
					}
					
				}
				
			})
		}

		//批量生成二维码
		$("#batchCreateQR").click(function(){
			$.ajax({
				type : "post", //表单提交类型 
				url :"${base}/qrCodeRoom/batchCreateQRCode", //表单提交目标 
				data : {}, //表单数据
				success : function(data) {
					if(data.code==0||data.code==8){
						 layer.msg(data.msg,{
				             	shift: 0,
				             	time: 2000
				             }, function(){
				            	 if(data.code==0){
				            		 window.location.reload();
				            	 }
				             }); 
					}
					
				}
				
			})
		});
		
		//批量下载二维码
		$("#batchDownloadQR").click(function(){
			var list;
			$.ajax({
				type : "post", //表单提交类型 
				url :"${base}/qrCodeRoom/getAllCreateQRcodeRoom", //表单提交目标 
				data : {}, //表单数据
				async:false,
				success : function(data) {
					if(data.code==0){
						 list=data.qrCodeRoomList;
						
					}
					
				}
			})
			
			$.each(list,function(n,obj) {
				downloadFile('${base}/download/downFileImg?fileName='+obj.fileName+'');
			})
						
		});
		
		//导入数据
		$("#importRoomData").click(function(){
			$.ajax({
				type : "post", //表单提交类型 
				url :"${base}/qrCodeRoom/insertQRcodeRoomFromRoom_noTable", //表单提交目标 
				data : {}, //表单数据
				success : function(data) {
					if(data.code==0||data.code==8){
						 layer.msg(data.msg,{
				             	shift: 0,
				             	time: 2000
				             }, function(){
				            	 if(data.code==0){
				            		 window.location.reload();
				            	 }
				             }); 
					}
					
				}
				
			})
		});
	</script>
	<script type="text/javascript">
	var basePath = '${base}';
	
	function downloadFile(url) {
		console.log(url);
        try{ 
            var elemIF = document.createElement("iframe");   
            elemIF.src = url;   
            elemIF.style.display = "none";   
            document.body.appendChild(elemIF);   
        }catch(e){ 
 
        } 
    }
	</script>
	<script>
	$(function(){
        document.onkeydown = function(e){ 
        	var ev = document.all ? window.event : e;
        		if(ev.keyCode==13) {
            		$("#pagerForm").submit();
            }
        }
    });  
         
    </script> 
</body>
</body>
</html>