<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<#include '/common/resources.html'>
		<link rel="stylesheet" media="screen and (min-width: 1580px)" href="${base}/resources/css/sys/shop-order.css" />
		<link rel="stylesheet" media="screen and (max-width: 1580px)" href="${base}/resources/css/sys/shop-order-resolving.css" />
		<link type="text/css" rel="stylesheet" href="${base}/resources/css/sys/application.css">
		<link type="text/css" rel="stylesheet" href="${base}/resources/css/sys/viewer.min.css">
		<script src="${base}/resources/js/respond.js" type="text/javascript" async="async"></script>
		<script type="text/javascript" src="${base}/resources/js/jquery.raty.min.js"></script>
		<script type="text/javascript" src="${base}/resources/js/viewer-jquery.min.js"></script>
		<style type="text/css">
			.pj--border{border-bottom: 1px dashed gainsboro;}
			.tk-img{width:100px;height: 80px;margin-right: 1%;float: left;}
		</style>
	</head>

	<body>
		<div class="whole" style="background: ghostwhite;">
			<ol class="breadcrumb" style="height: auto;overflow: hidden;">
				<li><a href="javascript:void(0)">订单中心</a></li>
				<li class="active">订单详情</li>
			</ol>
			<div class="order-list">
				<div class="new-order">
					<div class="new-order-title">
						<div class="ord-num"><span>订单号：${orderDetail.orderNo}</span></div>
						<div class="ord-num"><span>下单时间：${orderDetail.createDate?string('yyyy/MM/dd HH:mm')}</span></div>
						<#if refund??>
							<#if refund.status==5>
								<a class="take-orders refund" style="color: white;background: #ff5505;" val="6">同意退款</a>
								<a class="take-orders refund" style="color: white;background: #3f4750;margin-right: 20px;" val="7">拒绝退款</a>
							</#if>
						</#if>
					</div>
				</div>
				<div class="pro-list">
					<div class="pro-list-title">
						<div class="pro-title"><span>商品</span></div>
						<div class="pro-price"><span>单价（元）</span></div>
						<div class="pro-unm"><span>数量</span></div>
						<div class="pro-add"><span>小计</span></div>
					</div>
				</div>
				<div class="my-order">
					<div class="my-order-goods">
						<#list orderDetail.detailList as detail>
						<div class="new-list">
							<div class="list-name"><span>${detail.productName}</span></div>
						</div>
						<div class="list-price">
							<div class="list-mon"><span>${detail.productPrice}</span></div>
						</div>
						<div class="list-unm">
							<div class="list-mon"><span>${detail.productQuantity}</span></div>
						</div>
						<div class="list-add">
							<div class="list-mon"><span>${detail.productPrice*detail.productQuantity}</span></div>
						</div>
						</#list>
						<div class="order-pay">
							<div class="pay-name">
								<p>优惠金额</p>
								<p>配送费</p>
							</div>
							<div class="pay-mon">
								<p>${orderDetail.preferentialAmount}</p>
								<p>${orderDetail.deliveryFee}</p>
							</div>
						</div>
						<div class="sj-pay">
							<span>实际支付：</span><span>${orderDetail.totalMoney}</span>
						</div>
					</div>
					
					<#if refund??>
					<div class="send-message">
						<div style="width: 100%;float: left;">
												
						<div style="float: left;font-size: 20px;"><span>退款信息</span></div>
				
							<div class="send-message-left">
								<div class="send-message-right">
									<p>售后编号：</p>
								</div>
								<div class="send-message-p">
									<p>${refund.orderNo}</p>
								</div>
							</div>
							<br />
							<div class="send-message-left">
								<div class="send-message-right">
									<p>申请退款时间：</p>
								</div>
								<div class="send-message-p">
									<p>${(refund.createDate?string('yyyy-MM-dd HH:ss'))!!}</p>
								</div>
							</div>
							<div class="send-message-left">
								<div class="send-message-right">
									<p>退款状态：</p>
								</div>
								<div class="send-message-p">
									<p>
									<#if refund.status==0>
										待商家处理
									</#if>
									</p>
								</div>
							</div>
							<div class="send-message-left">
								<div class="send-message-right">
									<p>退款类型：</p>
								</div>
								<div class="send-message-p">
									<p>退款</p>
								</div>
							</div>
							<div class="send-message-left">
								<div class="send-message-right">
									<p>退款金额：</p>
								</div>
								<div class="send-message-p">
									<p>${orderDetail.totalMoney}</p>
								</div>
							</div>
							<div class="send-message-left">
								<div class="send-message-right">
									<p>退款原因：</p>
								</div>
								<div class="send-message-p">
									<p>${refund.refundType}</p>
								</div>
							</div>
							<br />
							<div class="send-message-left">
								<div class="send-message-right">
									<p>退款说明：</p>
								</div>
								<div class="send-message-p">
									<p>${refund.description!!}</p>
								</div>
							</div>
							<#if refund.failReason??>
									<div class="send-message-left">
										<div class="send-message-right">
											<p>商家拒绝原因：</p>
										</div>
										<div class="send-message-p">
											<p>${refund.failReason}</p>
										</div>
									</div>
							</#if>
							<!-- 退款图片 -->
							<div class="send-message-left">
								<div class="send-message-right">
									<p>图片：</p>
								</div>
								<#if refund.folder??>
									<div class="send-message-p" id="refund_img">
									<#list refund.folder.files as file>
										<img class="tk-img" src="${base}/${file.path}" />
									</#list>
								</div>
									<#else>
									<div class="send-message-p">
									<p>用户未上传图片</p>
									</div>
								</#if>
								
							</div>
						</div>
					
					</div>
					</#if>
				</div>

			</div>
			
			
		</div>
		 
		  <script type="text/javascript">
		   $(function() {
				$('#refund_img').viewer({
					url: 'data-original',
				});
			});
		   <#if refund??>
		   $(".refund").click(function(){
			   var orderNo = '${refund.orderNo}';
			   var status = $(this).attr("val");
			   console.log(orderNo);
			   var url = '${base}'+"/orderRefund/operateRefundOrder"
			   $.post(url, {'orderNo': orderNo,"status":status}, function (data) {
				   layer.msg(data.msg,{
				     	shift: 0
				     }, function(){
				    	 window.location.reload();
				     });
		        });
		   })
		   </#if>
		  
  </script>
  <script>
$(function(){
        document.onkeydown = function(e){ 
        var ev = document.all ? window.event : e;
        if(ev.keyCode==13) {
            $("#pagerForm").submit();
            }
        }
    });  
         
</script>       
	</body>

</html>