<!DOCTYPE html>
<html>
<head>
<title>考勤设置</title>
<meta name="content-type" content="text/html; charset=UTF-8">
<#include '/common/resources.html'>
<link rel="stylesheet" media="screen and (min-width: 1580px)"
	href="${base}/resources/css/sys/jquery.tableui.css" />
<link rel="stylesheet" media="screen and (max-width: 1580px)"
	href="${base}/resources/css/sys/tableui-resolving.css" />
<script src="${base}/resources/js/respond.js" type="text/javascript" async="async"></script>
<!-- <script type="text/javascript" src="${base}/resources/js/tooltips.js"></script> -->
</head>
<body>
	<div class="whole">
		<ol class="breadcrumb">
			<li><a href="javascript:void(0)">考勤设置</a></li>
			<span style="float: right">
				<a  class="btn-default" style="float: right;" href="${base}/attendanceTemplate/add">新增规则</a>
			</span>
		</ol>
		<div class="tab_box">
			<table class="table_solid" border="0" cellspacing="0">
				<tbody>
					<tr class="evenRow">
						<th>规则名称</th>
						<th>考勤时间</th>
						<th>考勤地点</th>
						<th>创建时间</th>
						<th>操作</th>
					</tr>
					<#if (pagelist.results)?exists && pagelist.results?size gt 0>
					<#list pagelist.results as template>
					<tr>
						<td>${template.name!!}</td>
						<td>${template.showDate!!}</td>
						<td>${template.address!!}</td>
						<td>${template.createDate?string('yyyy/MM/dd HH:mm:ss')}</td>
						<td>
							<a class="cz-a btn-default common-btn-cz" href="${base}/attendanceTemplate/add?id=${template.id}">修改</a>
							<#if template.type==1>
								<a class="cz-a btn-default common-btn-cz del" href="javascript:void(0);" val="${template.id}" ctx="${template.name!!}">删除</a>
							</#if>
						</td>
					</tr>
					</#list>
				</tbody>
			</table>
			<form action="${base}/attendanceTemplate/list" id="pagerForm">
				<#include '/common/pagination.html'></form>
			<#else>
			</table>
			<div class="no-data">暂无数据~</div>
			</#if>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(".del").click(function(){
		var id =$(this).attr("val");
		var ctx = $(this).attr("ctx");
		layer.confirm('确定删除'+ctx+'?', function(index){
			$.post('${base}/attendanceTemplate/del',{id:id},
				function (data, status) {
				 layer.msg(data.msg,{
				     	shift: 0
				     }, function(){
				    	 window.location.reload();
				     }); 
			 });
			  layer.close(index);
		});
		
	})
</script>
</html>
