<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linle.communityExpress.mapper.CommunityExpressMapper" >
  <resultMap id="BaseResultMap" type="com.linle.entity.sys.CommunityExpress" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="site_name" property="siteName" jdbcType="VARCHAR" />
    <result column="express_name" property="expressName" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="community_id" property="communityId" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="logo" property="logo"/>
  </resultMap>
  
  <resultMap id="ExpressListResultMap" type="com.linle.mobileapi.v1.model.ExpressListVO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="express_name" property="expressName" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="logo" property="logo"/>
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, site_name, express_name, address, phone, community_id, create_date, update_date,logo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from community_express
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from community_express
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.linle.entity.sys.CommunityExpress" >
    insert into community_express (id, site_name, express_name, 
      address, phone, community_id, 
      create_date, update_date,logo)
    values (#{id,jdbcType=BIGINT}, #{siteName,jdbcType=VARCHAR}, #{expressName,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{communityId,jdbcType=BIGINT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP},#{logo})
  </insert>
  <insert id="insertSelective" parameterType="com.linle.entity.sys.CommunityExpress" >
    insert into community_express
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="siteName != null" >
        site_name,
      </if>
      <if test="expressName != null" >
        express_name,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="communityId != null" >
        community_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="logo !=null">
      	logo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="siteName != null" >
        #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="expressName != null" >
        #{expressName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="communityId != null" >
        #{communityId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="logo !=null">
      	#{logo},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.linle.entity.sys.CommunityExpress" >
    update community_express
    <set >
      <if test="siteName != null" >
        site_name = #{siteName,jdbcType=VARCHAR},
      </if>
      <if test="expressName != null" >
        express_name = #{expressName,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="communityId != null" >
        community_id = #{communityId,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="logo !=null">
      	logo = #{logo},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linle.entity.sys.CommunityExpress" >
    update community_express
    set site_name = #{siteName,jdbcType=VARCHAR},
      express_name = #{expressName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      community_id = #{communityId,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      logo = #{logo}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getAllData" parameterType="page" resultMap="BaseResultMap">
  		  select 
    <include refid="Base_Column_List" />
    from community_express
    where community_id = #{params.communityId}
  </select>
  
  <select id="getExpressList" parameterType="Long" resultMap="ExpressListResultMap">
  	select id,CONCAT(express_name,'(',ifnull(site_name,''),')') as express_name,address,phone,logo
    from community_express
    where community_id = #{id}
  </select>
</mapper>