<!DOCTYPE HTML>
<html>
<head>
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta name="renderer" content="webkit">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>常见问题管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<#include '/common/resources.html'>
	<link rel="stylesheet" href="${base}/resources/css/sys/add-new.css"/>
    <link rel="stylesheet" type="text/css" href="${base }/resources/uploadify/uploadify.css">
    <script src="${base}/resources/js/respond.js" type="text/javascript" async="async"></script>
    <script src="${base }/resources/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8" src="${base}/resources/ueditor1_4_3_1/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="${base}/resources/ueditor1_4_3_1/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="${base}/resources/ueditor1_4_3_1/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
	<div class="whole">
		<div class="a-plus">
			<div class="head">
				<span>常见问题管理</span>
			</div>
				<form action="${base}/commonProblem/addCommonProblem" method="post" id="form1"> 
			
			<div class="Sheet">
				<div class="content">
					<span class="choice">问题：</span>
					<div class="inp">
						<input maxlength="40" type="text" name="title" id="title" value="${commonProblem.title!!}"/>
					</div>
				</div>
			</div>	
			<div class="s-name">
					<span class="choice">问题类型：</span>
					<div class="province">
						<select name="typeId" id="typeId" style="width: 146px;">
							<#if typeList?exists && typeList?size gt 0>
								<#list typeList as type>
									<option value="${type.id}">${type.typeName}  
										<#if type.belongTo==1>
										    (商家)
										   <#elseif type.belongTo==0>
										     (用户)
										   <#elseif type.belongTo==2>
										   		(物业)  
										</#if>
									</option>
								</#list>
							</#if>
						</select>

					</div>
			</div>
					
			<div class="Sheet">
				<div class="content">
					<span class="choice">排序：</span>
					<div class="inp" style="width: 17%;">
						<input maxlength="10" type="text" name="sort" id="sort" value="${commonProblem.sort!!}"/>
					</div>
				</div>
			</div>
			<div class="Sheet">
				<div class="content">
					<span class="choice">回答：</span>
				</div>
                <div>
                       <div style="width: 60%;"><textarea name="content" id="editor" style="width: 100%;height: 200px;"></textarea></div>
                       <script type="text/javascript"> var ue = UE.getEditor('editor');</script>
                 </div>
			</div>
			<div class="a-address">
				<input type="hidden" id="id" name="id" value="${commonProblem.id!!}">
				<button data-reveal-id="sav" data-animation="fade" class="s-btn">确认</button>

			</div>
			<div id="sav" class="reveal-modal"
				style="opacity: 1; visibility: hidden; top: 150px;">
				<h3>保存成功</h3>
				<a class="close-reveal-modal">×</a>
			</div>
			</form>
			<div class="reveal-modal-bg" style="display: none; cursor: pointer;">
			</div>
		</div>
	</div>

	<script type="text/javascript">
    $("#form1").submit(function() {
    	if($("#title").val()==''){
    		layer.msg("title不能为空");
    		return false;
    	}
		var ajax_url = $(this).attr("action"); //表单目标 
		var ajax_type = $(this).attr('method'); //提交方法 
		var ajax_data = $(this).serialize(); //表单数据 
		$.ajax({
			type : ajax_type, //表单提交类型 
			url : ajax_url, //表单提交目标 
			data : ajax_data, //表单数据
			success : function(data) {
				 layer.msg(data.msg,{
				     	shift: 0
				     }, function(){
				    	 window.location.href="${base}/commonProblem/list";
				     }); 
			}
		});
		return false; //阻止表单的默认提交事件 
	});
    
    <#if commonProblem.id??>
   		 $("#typeId").val('${commonProblem.typeId}');
   	 	$("#editor").html('${commonProblem.content!!}');
    </#if>
	</script>
</body>
</html>