<!DOCTYPE html>
<html>
<head>
<title>服务协议管理</title>
<meta name="content-type" content="text/html; charset=UTF-8">
<#include '/common/resources.html'>
<link rel="stylesheet" media="screen and (min-width: 1580px)" href="${base}/resources/css/sys/jquery.tableui.css" />
<link rel="stylesheet" media="screen and (max-width: 1580px)" href="${base}/resources/css/sys/tableui-resolving.css" />
<script src="${base}/resources/js/respond.js" type="text/javascript" async="async"></script>	    
<!-- <script type="text/javascript" src="${base}/resources/js/tooltips.js"></script> -->
</head>
<body>
<div class="whole">

	<ol class="breadcrumb">
		<li><a href="javascript:void(0)">服务协议管理</a></li>
		<li class="active">服务协议列表</li>
	<span style="float: right"><button type="button"
			class="btn-default" style="float: right;">新增服务协议</button></span>
	</ol>
	<div class="tab_box">
	<table class="table_solid" border="0" cellspacing="0">
		<tbody>
			<tr class="evenRow">
				<th>序号</th>
				<th>标题</th>
				<th>软件类型</th>
				<th>操作</th>
			</tr>
			<#if (pagelist.results)?exists && pagelist.results?size gt 0> <#list
			pagelist.results as serviceAgreement>
			<tr>
				<td>${(serviceAgreement_index+1)+(pagelist.pageNo-1)*pagelist.pageSize}</td>
				<td class="ahover" tooltips="${serviceAgreement.title!!}">${serviceAgreement.title!!}</td>
				<td>
				<#if serviceAgreement.typeId==1>
				     商家版
				   <#elseif serviceAgreement.typeId==0>
				     用户版
				   <#else>
				  	物业版   
				</#if>
				</td>
				<td>
				
					<a class="cz-a btn-default common-btn-cz" href="${base}/serviceAgreement/detail/${serviceAgreement.id}" target="_blank">预览</a>
				
					<a class="cz-a btn-default common-btn-cz" href="${base}/serviceAgreement/toAdd?id=${serviceAgreement.id}">编辑</a>
					
					<a class="cz-a btn-default del common-btn-cz" val="${serviceAgreement.id}"   href="javascript:void(0)">删除</a>
				</td>
			</tr>
			</#list>
		</tbody>
	</table>
	<div style="clear: both;"></div>
	<form action="${base}/serviceAgreement/list" id="pagerForm"><#include
		'/common/pagination.html'></form>
	<#else>
		<div class="no-data" >暂无数据~</div>
	</#if>
	</div>
	</div>
</body>
<script type="text/javascript">
	
	$(function() {
		$("button").click(function() {
			window.location.href = "${base}/serviceAgreement/toAdd";
		});
	});
	
	$(".del").click(function(){
		var id = $(this).attr("val");
		layer.confirm('确定删除?', function(index){
			$.post("${base}/serviceAgreement/del?id=" + id, function(result) {
				 layer.msg(result.msg,{
				     	shift: 0
				     }, function(){
				    	 window.location.href="${base}/serviceAgreement/list";
				     }); 
			}, 'json');
			  layer.close(index);
		}); 
	})
	
</script>

</html>
