<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linle.topicReport.mapper.CTopicReportMapper" >
  <resultMap id="BaseResultMap" type="com.linle.topicReport.model.CTopicReport" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="topic_id" property="topicId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="is_report" property="isReport" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, topic_id, user_id, is_report, create_time, is_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from c_topic_report
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from c_topic_report
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.linle.topicReport.model.CTopicReport" >
    insert into c_topic_report (id, topic_id, user_id, 
      is_report, create_time, is_del
      )
    values (#{id,jdbcType=BIGINT}, #{topicId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{isReport,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.linle.topicReport.model.CTopicReport" >
    insert into c_topic_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="topicId != null" >
        topic_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="isReport != null" >
        is_report,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="topicId != null" >
        #{topicId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="isReport != null" >
        #{isReport,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.linle.topicReport.model.CTopicReport" >
    update c_topic_report
    <set >
      <if test="topicId != null" >
        topic_id = #{topicId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="isReport != null" >
        is_report = #{isReport,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linle.topicReport.model.CTopicReport" >
    update c_topic_report
    set topic_id = #{topicId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      is_report = #{isReport,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
   <!-- 是否举报过 -->
  <select id="selectByTopicIdAndUserid" resultType="int" parameterType="map" >
    select  count(*)
    from c_topic_report
    where topic_id = #{topicId} and user_id=#{userId} and is_report=1  and is_del!=1
  </select>
  
  <select id="selectReportCount" resultType="int" parameterType="long" >
	 SELECT count(*)   FROM c_topic_report WHERE topic_id=#{topicId}  and is_del!=1
  </select>
  
  <resultMap id="reportUserResultMap" type="com.linle.topicReport.model.CTopicReport" extends="BaseResultMap">
    	<id column="userNameImg" property="userNameImg" jdbcType="VARCHAR" />
    	<id column="userName" property="userName" jdbcType="VARCHAR" />
  </resultMap>
  
  
   <select id="selectReportUsers" resultMap="reportUserResultMap" parameterType="long" >
	   SELECT sup.*,u1.`name` userName,u1.logo userNameImg
	    from c_topic_report sup 
		LEFT JOIN users u1 ON u1.id=sup.user_id
		WHERE sup.topic_id=#{topicId} and (sup.is_del!=1 OR  ISNULL(sup.is_del))
  </select>
  
</mapper>